
__pycache__
*/__pycache__


*.lock
*.log
*.txt
*.xslx
*.csv
*.png
*.zip
*.out
*.gz

test*

.idea
files/
resource/
go/
python/
java/
rust/
js/
rank/
temp/
venv/
valid/

github/main.go
github/.idea
github/resources